* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #000000;
  }
  
  .App {
    padding-top: 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #000000;
    background: rgb(49, 49, 177);
    background: linear-gradient(
      0deg,
      rgba(49, 49, 177, 1) 0%,
      rgba(49, 49, 177, 1) 50%,
      rgba(49, 49, 177, 0.6) 100%
    );
  }
  
  .form {
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 20px;
    margin-top: 30px;
  }
  
  .form .form__custom-button {
    margin-top: 50px;
  }