dnspython~=2.1.0
idna~=2.10
requests~=2.24.0
cryptography~=3.1.1
future~=0.18.2
pip~=20.2.4
keyring~=21.4.0
pymongo~=3.11.4
typing_extensions~=3.7.4.3
markupsafe~=1.1.1
werkzeug~=1.0.1
jinja2~=2.11.2
click~=7.1.2
itsdangerous~=1.1.0
certifi~=2020.6.20
chardet~=3.0.4
backports~=1.0
wincertstore~=0.2
openssl~=1.1.1h
zlib~=1.2.11
urllib3~=1.25.11
six~=1.15.0
greenlet~=0.4.17
gevent~=20.9.0
flask~=1.1.2
babel~=2.8.1
setuptools~=50.3.1
cython~=0.29.21
python-dateutil~=2.8.1
pillow~=8.0.1
pytest~=6.1.1