{% extends 'base.html' %}

{% block head %}
    <title>Home Page</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>NEWS FEED</h1>
        <style>
            table, th, td {
                border: 0.5px solid black;
                width:% 100
            }
        </style>
        <br>
    </div>
    <form action="/" method="POST">
  <div class="form-group">
    <label for="Keywords">Keywords</label>
    <input type="text" class="form-control" name="keywords"  placeholder="Ex: Turkey ">
    <small class="form-text text-muted">Leave empty for current news</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <br> <br>
    <td><a href="/pocket">My Pocket</a></td>
    <br></br>
    </div>


    <table>
        <tr>
            <br></br>
            <th>Source</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Add to Pocket</th>
            <th>Link</th>
        </tr>
        {% for n in news %}

            <tr>
                <td>{{ n["source"] }}</td>
                <td>{{ n["title"] }}</td>
                <td>{{ n["description"] }}</td>
                <td>{{ n["date"] }}</td>
                <td><a href="{{ n['url'] }}">News' Link</a></td>
            </tr>


        {% endfor %}
    </table>
    </div>
{% endblock %}